body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  background: #3b4a6b;
  color: white;
  align-items: center;
}

.holder {
  margin-bottom: 1rem;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
}

.feel {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 700px;
}

#entryHolder {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7px;
}

.headline {
  margin-bottom: 2rem;
  font-size: 32px;
  text-align: center;
  padding: 1rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 14px;
}

input {
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  border: none;
}

button {
  padding: 0.75rem;
  color: #3b4a6b;
  background-color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}
h1 {
  font-size: 36px;
}

textarea {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
  padding: 1rem;
  resize: none;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #ccc;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
